header {
  background-color: #562b81;
  color: white;
}

body {
  background-color: #f0f0f0;
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

h1 {
  font-size: 17px;
}

.font-code-journal {
  font-size: 12px;
  font-weight: lighter;
}

.submit-button {
  background-color: rgb(86, 43, 129);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px auto;
}

.text-align-right {
  text-align: right;
}

input:focus,
textarea:focus {
  outline: 2px solid #562b81;
  border-radius: 2px;
  border-style: none;
}
